*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color:  #FFFAFA;
} 

a {
    text-decoration: none;
    font-size: large;
    padding: 1rem 3rem;
    color: #ffff;
}

a:hover {
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text{
    display: flex;
    justify-content: center;
}

.img{
    margin-right: px;
}

.especial{
    width: 250px;
    background: #FFFAFA;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10 #ccc;
    transition: all 0.3s ease;
    overflow: visible;
    position: relative;
    z-index: 1;
}

.imagem{
    perspective: 1000px;
    overflow: visible;
    border-radius: 12px;
}

.imagem_produto{
    width: 100%;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 10;
    position: relative;
}

.especial:hover .imagem_produto {
    transform: translateY(-20px) rotateX(10deg) scale(1.05);
}

.card {
  display: inline-block;
}
